<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--很关键的一句，让日志文件不被占用-->
      <file value="logs/" />
      <!-- 日志生成文件路径 -->
      <appendToFile value="true" />
      <!--追加日志内容-->
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <!--置为true,当前最新日志文件名永远为file节中的名字-->
      <datePattern value="yyyyMMdd'.log'" />
      <!-- 日志文件名称格式 -->

      <maxSizeRollBackups value="10" />
      <!--日志最大个数,都是最新的-->
      <!--rollingStyle节点为Size时,只能有value个日志-->
      <!--rollingStyle节点为Composite时,每天有value个日志-->
      
      <maximumFileSize value="10MB" />
      <!-- 最大文件大小，达到后生成新文件 -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        <!-- 生成日志格式 -->
      </layout>
    </appender>
    
    <appender name="DataLog" type="DataStatisticsApi.Log.DataLogAdoAppender">
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <!-- 依赖的数据库链接名称 -->
      <connectionStringName value="UeGatewayConnection"/>
      <!-- 缓存条数，到达value值时批量插入，1为每次都插入。实际环境根据日志量设置500或者更多-->
      <bufferSize value="1"/>
      <commandText value="INSERT INTO pub_log ([admin_masterid],[username],[content],[url],[ip]) VALUES (@admin_masterid, @username, @url, @ip)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@admin_masterid" />
        <dbType value="Int64" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%admin_masterid" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@username" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%username" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@content" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%content" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%url" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%ip" />
        </layout>
      </parameter>
      </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <!-- 日志等级 OFF,FATAL,ERROR,WARN,INFO,DEBUG,ALL -->
      <appender-ref ref="RollingLogFileAppender" />
      <!--<appender-ref ref="DataLogAdoAppender" /> -->
    </root>
    <logger name="SqlLogger">
        <level value="All"/>
        <appender-ref ref="DataLog"/>
    </logger>

  </log4net>
</configuration>